body {
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.star {
  padding: 5px;
  color: gray;
  font-size: 26px;
  cursor: pointer;
}

.star-filled {
  color: #ffdf00;
}
